<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-16thread] [%-10X{principal}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Remove jericho logs due to errors with angular html files -->
    <logger name="net.htmlparser.jericho" level="OFF" />

    <!-- app logs - set DEBUG level, in prod it will go to a dedicated file -->
    <logger name="fr.ctruchi.foundationGridCheck" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>